@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-image: url("./background-image1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-weight: bold;
}
nav .brand-logo {
  display: block;
  text-align: center;
  position: relative;
}
.input-field label {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}

.input-field input[type="text"]:focus + label {
  color: #fff;
}

.input-field input[type="text"]:focus {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #000;
}

input[type="text"]:not(.browser-default) {
  border-bottom: 1px solid #fff;
  color: #fff;
}
input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: 0 1px 0 0 #fff;
  box-shadow: 0 1px 0 0 #fff;
}

.contenedor-form {
  padding: 3rem 0 1px 0;
}
.mensaje {
  text-align: center;
  font-size: 2rem;
}
.buscador i {
  width: 100%;
}
.error {
  padding: 1rem !important;
  color: #fff;
  margin-top: 3rem;
  text-align: center;
  text-emphasis: left;
}
.card-panel {
  background-color: transparent !important;
  box-shadow: none;
  background-color: #fff !important;
  opacity: 0.7;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
}
.card-panel h2 {
  font-size: 1.5rem;
  text-align: center;
  color: #000;
  font-weight: bold;
}
.card-panel p {
  text-align: center;
  font-size: 1.4rem;
  color: #000;
  margin: 0.5em;
}
.temperatura {
  font-size: 2rem !important;
}
.temperatura span {
  font-size: 1rem !important;
  vertical-align: super;
}

span {
  font-size: 1rem !important;
}

.temperatura-icono {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.card-panel img {
  margin: 0;
}
.btn-block {
  display: block !important;
  color: #000;
  font-weight: bold;
}

.error {
  padding: 1rem !important;
  text-align: center !important;
  color: #fff !important;
}
